{% extends "layout.html" %}

{% block content %}

<div class="row" id="change_password">
    <div class="col-md-12">
        <h3>Change Password</h3>
        <hr>
        <h4>Hello {{ username }}</h4>
        <div class="row">
            <a href="/home" class="btn reviews-button" id="back_to_home">Home</a>
            <form action="/change_password" method ='POST'>
                <div class="form-group" id="change_password">
                    <label for="old_password">Old Password</label>
                    <input type="text" name="old_password" id="old_password" class="form-control">
                </div>
                <div class="form-group" id="change_password">
                    <label for="new_password">New Password</label>
                    <input type="text" name="new_password" id="new_password" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary" id="change_password">Update</button>
            </form>
        </div>
    </div>
</div>

<script>
    function passwordChangeSuccess() {
        alert("Password is changed")
    }
    function passwordChangeFailed(){
        alert("Old Password is Incorrect")
    }

    const urlParams = new URLSearchParams(window.location.search);
    const isSuccess = urlParams.get("success");

    if (isSuccess === "true"){
        passwordChangeSuccess()
    }
    else if (isSuccess === "false"){
        passwordChangeFailed()
    }
    </script>

{% endblock %}